/** TODO: Fonts offline
 * https://www.google.com/fonts#UsePlace:use/Collection:Exo
 * */
@import url(http://fonts.googleapis.com/css?family=Exo:400,900italic,200,900,400italic);

body {
  font-size: 3.5em;
  font-family: 'Exo', sans-serif;
  color: #333;
  background-color: #CCC;
}

.sensor {
  height: 300px;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #444;
}
.sensor .value {
  color: #111;
  font-size: 4em;
  font-weight: bolder;
}

.sensor .si {
  font-weight: 100;
}


