[submodule "OwlCarousel"]
	path = OwlCarousel
	url = https://github.com/OwlFonk/OwlCarousel.git
[submodule "packages/zzeroo:owlcarousel/OwlCarousel"]
	path = packages/zzeroo:owlcarousel/OwlCarousel
	url = https://github.com/OwlFonk/OwlCarousel.git
